Response parser requires support for HEAD responses without body

According to the specification of HTTP/1.1 ...

> Responses to the HEAD request method never include a message body because the associated
   response header fields (e.g., Transfer-Encoding, Content-Length,
   etc.), if present, indicate only what their values would have been if
   the request method had been GET.
Source: [RFC 7230 (Section 3.3)](https://tools.ietf.org/html/rfc7230#section-3.3)

... responses to HEAD requests do not have a body. Even if e.g. the `Content-Length` header is present.
However, the response parser cannot know based on the data it receives whether the corresponding request was using the HEAD or another method and whether to expect a body or to just ignore any header flags about the content.

**Suggestion:**

Add an additional boolean flag to `HttpResponseParser.feed_data(self, data: bytes)` to tell the parser that it should not expect a body (or even throw a parser exception if there is one present).

Because HTTP/1.1 also allows pipelining, this additional parameter should also rather be _a list_ of "body presence" flags. Here's why:
If you send multiple requests to a server without waiting for the responses (= pipelining), you are going to receive back a bunch of responses together. Without them being parsed yet, one cannot identify the message boundaries and therefore they cannot be fed to the parser one by one. So the parser has to support that the whole stack of responses is fed to it and it needs a list of the "expected body presence".
Example:
If the pipelined requests were something like {HEAD, GET, HEAD, GET}, the "body presence" flags need to alternate as well.
For convenience, it may be good to have a parameter that can be set using both types, a single flag and a list of flags.

I don't have time to work on this, unfortunately. If you want you can submit a PR along with brief explanation/motivation and functional tests. @elprans and I would be happy to review then.